
html {
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    border: 0;
    background-color: inherit;
}

.banner {
    background-image: linear-gradient(#ffffff, #e7ebf0);
    font-size: 2vw;
    color: #7e7e7e;
}


.banner > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 1vw;
}

.logo {
    display: block;
    width: 8vw;
    margin: 0px 20px;
}
.header-title {
    border-left: 1px solid gainsboro;
    padding: 0 4vw;
}

.post {
    display:flex;
    flex-direction: row;
    padding: 1vw;
    background-image: linear-gradient(-45deg, #ffffff, #f0f0f0);
}

.important {
    border-left: 10px solid #4e77ff;
    background-image: linear-gradient(90deg, #d1e1ff, #00000000);
}

.is-active {
    color: #b8b8b8;
}

.header {
    font-size: 4.5vw;
    padding: 2vw;
    text-align: left;
}

.post-element {
    padding: 2vw;
    background-color: transparent;
}

.small-element {
    font-size: 2.5vw;
    padding: 1vw;
}

.expertise {
    font-weight: 600;
}

.content {
    flex-grow: 2;
    text-align: center;
    border-right: 1px solid gainsboro;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.expertise {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.activate {
    max-width: 20vw;
    font-size: 4.2vw;
    flex-shrink: 2;
}

.posts {
    background: transparent;
}