{% extends 'task_manager/base.html' %}

{% block content %}
    {% for task in tasks %}
        {% if task.is_completed == False %}
            <div class="tasks {% if task.is_important %}highlight{% endif %}">

                <h1 class="">{{task.general_description}}</h1>

                {% if task.detailed_description %}
                <p class="">{{task.detailed_description}}</p> {% endif %}

                <p class="">{{task.datetime_posted}}</p>
                <p class="">{{task.author}}</p>

                {% if task.expertise %}
                <p class="">{{task.expertise}}</p>{% endif %}

            </div>
        {% endif %}
    {% endfor %}
{% endblock %}


