{% extends 'task_manager/base.html' %}

{% block content %}   
    <div class="post-container ">
        {% comment %} {% if task.is_important %} {% endcomment %}
        
        {% comment %} {% endif %} {% endcomment %}
        <article class="media content-section">
            <div class="media-body">
                <div class="metadata article-metadata">
                    <a class="mr-2" href="#">{{object.author}}</a>
                    <small class="text-muted">{{object.datetime_posted|timesince}} ago.</small>
                    <p class="alert alert-warning notice">High priority</p>
                </div>
                <h4 class="">{{object.general_description}}</h4>

                {% if object.detailed_description %}
                <p class="">{{object.detailed_description}}</p> {% endif %}

                {% if object.expertise %}
                <p class="">Needs expertise: {{object.expertise}}</p>{% endif %}
            </div>
        </article>
        <div class="buttons">
            <button onclick="window.location.href='{% url 'main-page' %}';" class="btn btn-success">Complete</button>
            <button onclick="window.location.href='{% url 'main-page' %}';" class="btn btn-dark">Cancel</button>       
        </div>

    </div>
{% endblock %}